apiVersion: v1
kind: Service
metadata:
  name: discovery-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: discovery
  ports:
    - protocol: TCP
      port: 8761
      targetPort: 8761
      nodePort: 30091