apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: user
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30096