apiVersion: v1
kind: Service
metadata:
  name: ticket-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: ticket
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
      nodePort: 30098